:root {
    --primary-color: #239fbb;
    --secondary-color: #b8b5b5;
    --text-color: #333333;
    --background-color: #ffffff;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    line-height: 1;
}



